aws_region   = "eu-west-1"
project_name = "paychecker"
environment  = "dev"

db_name           = "paychecker_db"
db_username       = "paychecker"
db_password       = "change-me-to-a-strong-password"
db_instance_class = "db.t4g.micro"

app_jwt_secret   = "change-me-to-a-long-random-secret-at-least-32-characters"
api_image_tag    = "latest"
api_desired_count = 1
